{{> "page-head"}}

<div data-md2-module="main-visual">
    <img src="assets/img/main-visual.jpg"/>
</div>

<div class="wrapper" >
    <div class="page2">
        <div class="main-container2 col1-layout">
    <div class="main">

        <div class="" data-page="product-detail" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">

            <div class="container">
                <div class="row">

                    <aside class="col-sm-4 col-xs-12">
                        <div >
                            <div class="contact-with-image  col-xs-12 col-sm-6 col-md-12" data-id="contact">


                                <h3>Unsere Servicehotline</h3>

                                <p class="big-headline">Für Händler:</p><p class="big-tel-nr">+49 (0)551 50551-0</p><p class="big-headline">Für Verbraucher:</p><p class="big-tel-nr">+49 (0)551 50551-99</p>        <p class="subline-text">
                                Du erreichst uns Montag bis Donnerstag von 8 bis 17 Uhr. Freitags nur von 8 bis 14 Uhr.        </p>

                                <a href="mailto:info@viani.de" class="inverted" target="_blank">
                                    <span>info@viani.de</span>
                                </a>
                                <hr class="dotted inverted">


                                <h3>Anschrift</h3>

                                <div class="red-content">
                                    <p>August-Spindler-Str. 12<br>
                                        37083&nbsp;Göttingen<br>
                                        Deutschland</p>
                                </div>
                                <div class="subline-text">
                                </div>
                                <hr class="dotted inverted">


                            </div>
                            <div class="clearfix"></div>

                            <!--    Newsletter-->

                            <div data-id="newsletter" class="">
                                <div class="col-xs-12 col-sm-6 col-md-12">


                                    <p class="column-title h3 newsletter">Immer auf dem neusten Stand mit unserem Newsletter</p>

                                    <p>1x im Monat schicken wir dir das Neuste aus der Viani Familie, Events, exklusive Angebote, und vieles mehr!</p>

                                    <!-- area: relaunchNewsletter -->
                                    <div class="newsletter-container" data-id="newsletter">



                                        <form action="https://newsletter-service.createsend.com/t/r/s/hjkhhih/" method="post" id="newsletter-form-aside" novalidate="" class="newsletter-form-input" onsubmit="dataLayer.push({'event': 'Newsletteranmeldung'});">

                                            <div data-id="input-block" class="newsletter-error-handler error-handler empty">

                                                <input class="form-control fieldEmail" name="cm-hjkhhih-hjkhhih" type="email" data-parsley-pattern="^(?:[a-zA-Z0-9_'^&amp;/+-])+(?:\.(?:[a-zA-Z0-9_'^&amp;/+-])+)*@(?:(?:\[?(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?))\.){3}(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\]?)|(?:[a-zA-Z0-9-]+\.)+(?:[a-zA-Z]){2,}\.?)$" data-parsley-error-message="Bitte traqe deine Email-Adresse ein" data-parsley-class-handler=".newsletter-error-handler" data-parsley-errors-container=".newsletter-error-message" placeholder="Deine Emailadresse">
                                                <label>Deine Emailadresse</label>

                                                <div class="newsletter-error-message error-message"></div>

                                                <button class="newsletter-button" type="submit">
                                                    <i class="icon-mail"></i>
                                                </button>
                                            </div>
                                        </form>                </div>
                                    <!-- ende area: relaunchNewsletter -->
                                </div>
                            </div>
                            <div class="clearfix"></div>



                        </div>                    </aside>
                    <div class="col-xs-12 col-sm-8">

                        <div class="col-main">
                            <div class="page-title">
                                <h1>Impressum</h1>
                            </div>
                            <div class="std">
                                <form action="/contacts/index/post" id="contactForm" method="post">
                                    <div class="fieldset">
                                        <h2 class="legend">Kontaktinformationen</h2>
                                        <ul class="form-list">
                                            <li class="fields">
                                                <div class="field">
                                                    <label for="name" class="required"><em>*</em>Name</label>
                                                    <div class="input-box">
                                                        <input name="name" id="name" title="Name" value="" class="input-text required-entry" type="text">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <label for="email" class="required"><em>*</em>E-Mail</label>
                                                    <div class="input-box">
                                                        <input name="email" id="email" title="E-Mail" value="" class="input-text required-entry validate-email" type="text">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <label for="telephone">Telefon</label>
                                                <div class="input-box">
                                                    <input name="telephone" id="telephone" title="Telefon" value="" class="input-text" type="text">
                                                </div>
                                            </li>
                                            <li class="wide">
                                                <label for="comment" class="required"><em>*</em>Kommentar</label>
                                                <div class="input-box">
                                                    <textarea name="comment" id="comment" title="Kommentar" class="required-entry input-text" cols="5" rows="3"></textarea>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="buttons-set">
                                        <p class="required">* Pflichtfelder</p>
                                        <input type="text" name="hideit" id="hideit" value="" style="display:none !important;">
                                        <button type="submit" title="Absenden" class="button"><span><span>Absenden</span></span></button>
                                    </div>
                                </form>

                    </div>

                </div>
            </div>


    </div>
</div>
    </div>
</div>

{{> "page-end"}}