{{> "page-head"}}

<div data-md2-module="main-visual">
    <img src="assets/img/main-visual.jpg"/>
</div>

<div class="wrapper" >
    <div class="page">
        <div class="main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="std">
                <!-- / hometop-contant -->
                <section class="home-gallery">
                    <div class="heading-text">
                        <h2>Feiner K&auml;se vom blauen Klaus</h2>
                        <p class="sub-heding">Experte für Blauschlimmelkäse lorem ipsum - hier sind Teaser für die einzelnen Rubriken<br>Es gibt natürlich hier nicht nur Blauschimmelkäse, alles mit ansprechenden Bildern garniert</p>
            </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6 pro-xs-12">
                            <div class="gallery-wrap">
                                <div class="gallery-item"><a title="Schnitt- &amp; Hartk&auml;se" href="/product.html" target="_blank"><img class="gallery-img" alt="Gallery img" src="assets/img/blauschimmelkaese.jpg" /></a>
                                    <div class="gallery-overly">
                                        <div class="gallery-name"><a title="Schnittk&auml;se &amp; Hartk&auml;se" href="product.html" target="_self">Blauschimmel- & Edelpilzkäse</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 pro-xs-12">
                            <div class="gallery-wrap">
                                <div class="gallery-item"><a title="Frisch- &amp; Weichk&auml;se" href="product.html" target="_blank"><img class="gallery-img" alt="Gallery img" src="assets/img/Burrata.jpg" /></a>
                                    <div class="gallery-overly">
                                        <div class="gallery-name"><a title="Weichk&auml;se &amp; Frischk&auml;se" href="product.html" target="_self">Mozzarella & Burrata</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 pro-xs-12">
                            <div class="gallery-wrap">
                                <div class="gallery-item"><a title="Schnitt- &amp; Hartk&auml;se" href="/hartkaese-schnittkaese.html" target="_blank"><img class="gallery-img" alt="Gallery img" src="assets/img/hartkaese.jpg" /></a>
                                    <div class="gallery-overly">
                                        <div class="gallery-name"><a title="Schnittk&auml;se &amp; Hartk&auml;se" href="/index.php/kaesesorten/hartkaese-schnittkaese.html" target="_self">Schnitt- &amp; Hartk&auml;se</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6 pro-xs-12">
                            <div class="gallery-wrap">
                                <div class="gallery-item"><a title="Raclette- &amp; Fonduek&auml;se" href="product.html" target="_blank">
                                    <img class="gallery-img" alt="Gallery img" src="assets/img/raclettekaese.jpg" /></a>
                                    <div class="gallery-overly">
                                        <div class="gallery-name"><a title="K&auml;se f&uuml;r Raclette &amp; Fondue" href="product.html" target="_self">Raclette- &amp; Fonduek&auml;se</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 pro-xs-12">
                            <div class="gallery-wrap">
                                <div class="gallery-item"><a href="product.html" target="_blank"><img class="gallery-img" alt="Gallery img" src="assets/img/parmesan.jpg" /></a>
                                    <div class="gallery-overly">
                                        <div class="gallery-name"><a href="product.html" target="_self">Parmesan & Pecorino</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 pro-xs-12">
                            <div class="gallery-wrap">
                                <div class="gallery-item"><a title="Frisch- &amp; Weichk&auml;se" href="/weichkaese-frischkaese.html" target="_blank"><img class="gallery-img" alt="Gallery img" src="assets/img/weichkaese.jpg" /></a>
                                    <div class="gallery-overly">
                                        <div class="gallery-name"><a title="Weichk&auml;se &amp; Frischk&auml;se" href="product.html" target="_self">Frisch- &amp; Weichk&auml;se</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </section>
                <!-- / home-gallery -->
                <section class="home-iconbox">
                    <div class="heading-text">
                        <h2>Unsere Frische Garantie</h2>
                        <p class="sub-heding">Um das Vertrauen der Kunden zu gewinnen, zeigen wir wie (einfach) das Käse-Online-Shopping funktioniert</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="iconbox"><a title="Frisch geschnitten vom Laib" href="/kaesesorten.html" target="_blank"><img alt="IconBox-01" src="assets/img/iconbox-01.jpg" /></a>
                                <h4>Frisch geschnitten vom Laib</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="iconbox"><a title="Unsere K&uuml;hlverpackung" href="/kuehlverpackung" target="_blank"><img alt="IconBox-02" src="assets/img/iconbox-02.jpg" /></a>
                                <h4>Eisgek&uuml;hlt verpackt geliefert</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="iconbox"><a title="Versandkosten &amp; Versandarten" href="/versandkosten" target="_blank"><img alt="IconBox-03" src="assets/img/iconbox-03.jpg" /></a>
                                <h4>Versandkostenfrei ab 50&euro; Bestellwert</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="iconbox"><img alt="IconBox-04" src="assets/img/iconbox-04.jpg" />
                                <h4>Frisch direkt an Ihre Haust&uuml;r</h4>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- / home-iconbox -->
                <p><section class="product-section">
                    <div class="heading-text">
                        <h2>Das k&ouml;nnte Ihnen so schmecken</h2>
                <p class="sub-heding" style="padding-bottom: 35px">Teasermodule 4 kleine nebeneinander für z-b- Topsellerprodukte </p>

            </div>
            <div class="row">

                <div class="col-md-3 col-sm-6 col-xs-6 pro-xs-12">
                    <div class="product">
                        <div class="pro-img">
                            <a href="product.html"class="product-image">
                                <img src="assets/img/product-roquefort.jpg" alt="" />
                            </a>
                        </div>
                        <div class="pro-name"><a href="product.html">
                            Roquefort lorem ipsum							  				  </a></div>
                        <div class="pro-mtr">
                            K&auml;se aus Deutschland, lorem ipsum sit amet dolor
                        </div>
                        <div class="home-pro">
                            <div class="pro-price clearfix">
                                <div class="am-wrap">
                                    <div class="amount">
                                    </div>

                                </div>

                                <button type="submit" title="zum Produkt" class="button"><span><span>zum Produkt</span></span></button>

                            </div>

                        </div>
                    </div>
                </div>



                <div class="col-md-3 col-sm-6 col-xs-6 pro-xs-12">
                    <div class="product">
                        <div class="pro-img">
                            <a href="product.html"  class="product-image">
                                <img src="assets/img/product-lorem.jpg" />
                            </a>
                        </div>
                        <div class="pro-name"><a href="product.html">
                            Lorem Ipsum Käse									  				  </a></div>
                        <div class="pro-mtr">
                            Sit amet dolor, consetetur sadipscing elitr, sed diam nonumy						  				  </div>
                        <div class="home-pro">
                            <div class="pro-price clearfix">
                                <div class="am-wrap">
                                    <div class="amount">
                                    </div>

                                </div>

                                <button type="submit" title="zum Produkt" class="button"><span><span>zum Produkt</span></span></button>

                            </div>

                        </div>
                    </div>
                </div>



                <div class="col-md-3 col-sm-6 col-xs-6 pro-xs-12">
                    <div class="product">
                        <div class="pro-img">
                            <a href="product.html" class="product-image">
                                <img src="assets/img/product-ziegenkaese.jpg" alt="Verfeinert mit Whisky - Stück 200g - NEU" />
                            </a>
                        </div>
                        <div class="pro-name"><a href="product.html" title="Cheddar Amber Mist - Verfeinert mit Whisky - Stück 200g - NEU">
                            Ziegenkäse								  				  </a></div>
                        <div class="pro-mtr">
                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.									  				  </div>
                        <div class="home-pro">
                            <div class="pro-price clearfix">
                                <div class="am-wrap">
                                    <div class="amount">
                                    </div>

                                </div>

                                <button type="submit" title="zum Produkt" class="button"><span><span>zum Produkt</span></span></button>
                            </div>

                        </div>
                    </div>
                </div>



                <div class="col-md-3 col-sm-6 col-xs-6 pro-xs-12">
                    <div class="product">
                        <div class="pro-img">
                            <a href="product.html" class="product-image">
                                <img src="assets/img/product-cheddar.jpg" alt="Cheddar Ruby Mist - Verfeinert mit Portwein &amp; Brandy - Stück 200g - NEU" />
                            </a>
                        </div>
                        <div class="pro-name"><a href="product.html" title="Cheddar Ruby Mist - Verfeinert mit Portwein &amp; Brandy - Stück 200g - NEU">
                            Cheddar lorem ipsum							  				  </a></div>
                        <div class="pro-mtr">
                            Cheddar lorem ipsum: Eine sehr feine Art geschmeidigen Cheddark&auml;se mit...									  				  </div>
                        <div class="home-pro">
                            <div class="pro-price clearfix">
                                <div class="am-wrap">
                                    <div class="amount">
                                    </div>

                                </div>

                                <button type="submit" title="zum Produkt" class="button"><span><span>zum Produkt</span></span></button>

                            </div>

                        </div>
                    </div>
                </div>



            </div>
            </section><!-- / home-product -->


            </p>

        </div>
    </div>
</div>
    </div>
</div>
{{!--
<main class="container-fluid">

    <div class="row">
        <div class="col-xs-12">

            <h1>Aufgabe 2</h1>
            <p>
                Gestalten Sie eine Webpräsenz für ein Internet-Warenhaus mit dem Namen
                "Der blaue Klaus".<br>
                Es ist ein Shop!<br>
                Es sollen mindestens 4 einzelne Seiten gezeigt werden.<br>
                - Startseite<br>
                - Produktbeschreibung mit Bild<br>
                - Kontaktseite<br>
                - Impressum<br>

                <br>

                Login, Suchfunktion etc. ohne Funktion

            <ul>
                <li>Header mit Über Uns, Kontakt, Anmelden mit Font-Icons</li>
                <li>Menu mit Warenkorb Button und Logo (Webfont nehmen und rotieren)</li>
                <li>Startseite
                    <ul>
                        <li>Kacheln mit Produkten</li>
                        <li>Kacheln mit Bildern und Sprüchen</li>
                    </ul>

                </li>
                <li>Footer
                    <ul>
                        <li>Zahlungsarten</li>
                        <li>Social Icons</li>
                        <li>Links zu Kontakt, Impressum, AGB</li>
                        <li>Copyright Info</li>
                        <li>Newsletter</li>
                    </ul>
                </li>
                <li>ProduktZum Produkteite</li>
                <li>Impressum Seite</li>
                <li>Kontaktseite</li>
            </ul>

            </p>

            <p>Käsen ist eine der köstlichsten Konservierungsmethoden in der Welt der Lebensmittel.
                Bei uns finden Sie nicht nur die tollsten Sorten Blauschimmelkäse, entdecken sie die Käsevielfalt.</p>
            <p>
                https://www.viani.de/de/weich-blauschimmelkase/erborinato-san-carlo-weichkase-aus-kuhmilch-blauschimmel-guffanti-ca.-3-kg
            </p>
            <p>
                https://www.gustini.de/sortiment/italienischer-kaese/blauschimmelkaese.html
            </p>
            <p>
                https://www.gustini.de/sortiment/italienischer-kaese/blauschimmelkaese.html
            </p>
            <p>
                https://www.feiner-kaese.de/
            </p>

        </div>
    </div>

</main>
--}}
{{> "page-end"}}