{{> "page-head"}}

<div data-md2-module="main-visual">
    <img src="assets/img/main-visual.jpg"/>
</div>

<div class="wrapper"  >
    <div class="page">
        <div class="main-container col1-layout">
    <div class="main">

        <div class="" data-page="product-detail" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">

            <div class="container">
                <div class="row">


                    <div class="breadcrumb col-xs-12 visible-sm visible-xs"><a href="/de/salumi-formaggi">Salumi &amp; Formaggi</a> &gt; <a href="/de/salumi-formaggi/formaggi">Formaggi</a> &gt; <a href="/de/salumi-formaggi/formaggi/weich-blauschimmelkaese">Weich- &amp; Blauschimmelkäse</a></div>
                    <div data-id="product-detail" data-components="pages/product-detail" class="col-xs-12 visible-sm visible-xs">

                        <div class="product-description-wrapper visible-sm visible-xs">
                            <p class="erp-code" data-id="get-erp-code" data-val="330129">330129</p>
                            <h1 itemprop="name">Erborinato San Carlo</h1>
                            <p class="product-info-caption caption">Guffanti</p>
                            <meta itemprop="eligibleRegion" content="DE">
                            <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition">
                        </div>

                    </div>

                    <div data-id="product-detail" data-components="pages/product-detail" class="col-sm-12 visible-sm visible-xs">

                        <div class="product-description-wrapper">
                            <p class="erp-code hidden-sm hidden-xs">330129</p>
                            <h1 itemprop="name" class="hidden-sm hidden-xs">Erborinato San Carlo</h1>
                            <p class="product-info-caption caption hidden-sm hidden-xs">Guffanti, Italien</p>
                            <p itemprop="description" class="product-short-description">Weichkäse aus Kuhmilch, Blauschimmel</p>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-9 no-padding-right">
                        <div data-id="product-images" data-components="organisms/product-images" class="col-xs-12 col-md-5 col-sm-12">

                            <div class="slick-slider-main slick-initialized slick-slider" data-component="slick-slider" role="toolbar">


                                <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 1436px; left: 0px;"><div class="product-detail-item slick-slide slick-current slick-active" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 359px;" data-slick-index="0" aria-hidden="false">

                                    <picture data-alt="Erborinato San Carlo" itemprop="image" data-default-src="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19141/thumb__product_image_detail/v330129g-257-16.png">
                                        <source srcset="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19141/thumb__product_image_detail/v330129g-257-16~-~767w.png 1x, //d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19141/thumb__product_image_detail/v330129g-257-16~-~767w@2x.png 2x" media="(max-width: 767px)">
                                        <source srcset="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19141/thumb__product_image_detail/v330129g-257-16.png 1x, //d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19141/thumb__product_image_detail/v330129g-257-16@2x.png 2x">
                                        <img alt="Erborinato San Carlo" itemprop="image" src="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19141/thumb__product_image_detail/v330129g-257-16~-~767w.png">
                                    </picture>
                                </div><div class="product-detail-item slick-slide" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 359px;" data-slick-index="1" aria-hidden="true">

                                    <picture data-alt="Erborinato San Carlo" itemprop="image" data-default-src="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19144/thumb__product_image_detail/v330129d-257-16.png">
                                        <source srcset="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19144/thumb__product_image_detail/v330129d-257-16~-~767w.png 1x, //d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19144/thumb__product_image_detail/v330129d-257-16~-~767w@2x.png 2x" media="(max-width: 767px)">
                                        <source srcset="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19144/thumb__product_image_detail/v330129d-257-16.png 1x, //d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19144/thumb__product_image_detail/v330129d-257-16@2x.png 2x">
                                        <img alt="Erborinato San Carlo" itemprop="image" src="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19144/thumb__product_image_detail/v330129d-257-16~-~767w.png">
                                    </picture>
                                </div><div class="product-detail-item slick-slide" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 359px;" data-slick-index="2" aria-hidden="true">

                                    <picture data-alt="Erborinato San Carlo" itemprop="image" data-default-src="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19146/thumb__product_image_detail/v330129c-257-16.png">
                                        <source srcset="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19146/thumb__product_image_detail/v330129c-257-16~-~767w.png 1x, //d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19146/thumb__product_image_detail/v330129c-257-16~-~767w@2x.png 2x" media="(max-width: 767px)">
                                        <source srcset="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19146/thumb__product_image_detail/v330129c-257-16.png 1x, //d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19146/thumb__product_image_detail/v330129c-257-16@2x.png 2x">
                                        <img alt="Erborinato San Carlo" itemprop="image" src="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19146/thumb__product_image_detail/v330129c-257-16~-~767w.png">
                                    </picture>
                                </div><div class="product-detail-item slick-slide" tabindex="-1" role="option" aria-describedby="slick-slide03" style="width: 359px;" data-slick-index="3" aria-hidden="true">

                                    <picture data-alt="Erborinato San Carlo" itemprop="image" data-default-src="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19145/thumb__product_image_detail/v330129-257-16.png">
                                        <source srcset="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19145/thumb__product_image_detail/v330129-257-16~-~767w.png 1x, //d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19145/thumb__product_image_detail/v330129-257-16~-~767w@2x.png 2x" media="(max-width: 767px)">
                                        <source srcset="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19145/thumb__product_image_detail/v330129-257-16.png 1x, //d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19145/thumb__product_image_detail/v330129-257-16@2x.png 2x">
                                        <img alt="Erborinato San Carlo" itemprop="image" src="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19145/thumb__product_image_detail/v330129-257-16~-~767w.png">
                                    </picture>
                                </div></div></div><ul class="slick-dots" role="tablist" style="display: block;"><li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation00" id="slick-slide00"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation01" id="slick-slide01"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">2</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation02" id="slick-slide02"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">3</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation03" id="slick-slide03"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">4</button></li></ul></div>

                            <div class="slick-slider-nav slick-initialized slick-slider" data-component="slick-slider"><button type="button" data-role="none" class="slick-prev slick-arrow slick-disabled" aria-label="Previous" role="button" aria-disabled="true" style="display: inline-block;">Previous</button>
                                <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 480px; left: 0px;"><div class="product-detail-thumbnail slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide10" style="width: 104px;">
                                    <img width="80" height="60" alt="Erborinato San Carlo" src="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19141/thumb__product_image_detail_small/v330129g-257-16.png" srcset="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19141/thumb__product_image_detail_small/v330129g-257-16.png 1x, //d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19141/thumb__product_image_detail_small/v330129g-257-16@2x.png 2x">                                    </div><div class="product-detail-thumbnail slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide11" style="width: 104px;">
                                    <img width="80" height="60" alt="Erborinato San Carlo" src="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19144/thumb__product_image_detail_small/v330129d-257-16.png" srcset="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19144/thumb__product_image_detail_small/v330129d-257-16.png 1x, //d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19144/thumb__product_image_detail_small/v330129d-257-16@2x.png 2x">                                    </div><div class="product-detail-thumbnail slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide12" style="width: 104px;">
                                    <img width="80" height="60" alt="Erborinato San Carlo" src="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19146/thumb__product_image_detail_small/v330129c-257-16.png" srcset="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19146/thumb__product_image_detail_small/v330129c-257-16.png 1x, //d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19146/thumb__product_image_detail_small/v330129c-257-16@2x.png 2x">                                    </div><div class="product-detail-thumbnail slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide13" style="width: 104px;">
                                    <img width="80" height="60" alt="Erborinato San Carlo" src="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19145/thumb__product_image_detail_small/v330129-257-16.png" srcset="//d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19145/thumb__product_image_detail_small/v330129-257-16.png 1x, //d3ljy8tbxzb0o6.cloudfront.net/website/var/tmp/optimized-images/10000/19145/thumb__product_image_detail_small/v330129-257-16@2x.png 2x">                                    </div></div></div>








                                <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" aria-disabled="false" style="display: block;">Next</button></div>

                        </div>
                        <div class="clearfix visible-xs visible-sm"></div>
                        <div class="breadcrumb col-xs-7 hidden-sm hidden-xs" itemprop="category"><a href="/de/salumi-formaggi">Salumi &amp; Formaggi</a> &gt; <a href="/de/salumi-formaggi/formaggi">Formaggi</a> &gt; <a href="/de/salumi-formaggi/formaggi/weich-blauschimmelkaese">Weich- &amp; Blauschimmelkäse</a></div>

                        <div data-id="product-detail" data-components="pages/product-detail" class="col-xs-12 col-md-7 col-sm-12 newborder newline-right-dotted hidden-sm hidden-xs">

                            <div class="product-description-wrapper">
                                <p class="erp-code hidden-sm hidden-xs">330129</p>
                                <h1 itemprop="name" class="hidden-sm hidden-xs">Erborinato San Carlo</h1>
                                <p class="product-info-caption caption hidden-sm hidden-xs">Guffanti, Italien</p>
                                <p itemprop="description" class="product-short-description">Weichkäse aus Kuhmilch, Blauschimmel</p>
                            </div>

                        </div>
                    </div>


                    <div data-id="product-order" class="col-xs-12 col-sm-6 col-md-3" data-preorder-date="30.05.2017">


                        <div class="cart-wrapper wrapper">
                            <div class="col-bbxs-sidebar-6 col-xs-12">
                                <div itemscope="">
                                    <p class="shopping-unit" id="weight" itemprop="weight" itemscope="" itemtype="http://schema.org/QuantitativeValue"><span class="hidden" itemprop="value">ca.</span><span>ca. 3 kg </span><meta itemprop="unitCode" content="GRM"> </p>                            </div>

                                <p class="price hidden-xs"><span class="product-price"><span class="price-value"><span class="hidden" itemprop="price">11.67</span>11,67&nbsp;€</span><sup>*</sup></span><meta itemprop="priceCurrency" content="EUR"><span class="price-per-unit">38,90&nbsp;€ / KG</span></p>

                            </div>
                            <div class="col-bbxs-sidebar-6 col-xs-12">



                                <div class="row">
                                    <div class="col-xs-12">
                                        <p itemprop="availability" class="availability"><span><span class="availability-none">Nicht verfügbar</span></span></p><link itemprop="availability" href="http://schema.org/InStock">                                </div>
                                </div>









                                <div data-id="notify-products-button" data-loginfirst="true" class="add-product">

                                    <button class="button-default notify-button" style="display: block" data-product-id="47338" data-action="add-product-notify">
                                        <i class="icon-reminder"></i>

                                        <span class="add">BEI VERFÜGBARKEIT<br>BENACHRICHTIGEN</span>
                                        <span class="remove">Benachrichtigung<br>per Email</span>
                                    </button>
                                    <div class="loading-spinner"><i class="icon-refresh"></i></div>
                                </div>



                                <p class="price-info"> Preis inkl. MwSt. zzgl. 4,95 €&nbsp;Versand und 3,50 € Frischezuschlag </p>

                                <a data-id="buy-local" class="icon-button inverted" data-switch-tab="3"><i class="icon-pin"></i><span class="table-content"><span>Produkt in der Nähe kaufen</span></span></a>                        </div>
                        </div>
                        <div class="cart-wrapper-mobile cart-wrapper wrapper">
                            <p class="price">
                                <span class="product-price"><span class="price-value"> <span class="hidden" itemprop="price"> 11.67</span> 11,67&nbsp;€ </span> <sup>*</sup> </span>                             <meta itemprop="priceCurrency" content="EUR">


                                <span class="price-per-unit">
                                    38,90&nbsp;€ / KG                                </span>

                            </p>


                            <div class="stepper">
                                <input class="spinedit noSelect initialised" type="text" data-id="numeric-stepper" data-step="1" name="qty" value="1" min="1"><div class="spinedit"><div class="up"></div><div class="down"></div></div>
                                <a href="/de/api/cart/add?item=47338" class="button-default" data-id="ajax-cart-button" data-price-by-weight="Ja">
                                    <span>Jetzt bestellen</span>
                                    <span class="mobile-cart-label">kaufen</span>
                                </a>

                            </div>


                        </div>
                    </div>
                </div>

            </div>

            <div class="container-fluid">
                <div class="product-details-tabpane" data-id="tabbed-accordion" data-component="tabbedAccordion">

                    <div class="tab-container">
                        <div class="container">
                            <div id="tab1" class="active row tab-content">
                                <div class="col-xs-12 col-sm-6 col-md-5 col-md-push-4 newborder newline-right-dotted">
                                    <p class="info-title">Produktinformation</p>

                                    <p itemprop="description" class="description">
                                        Der Blauschimmelkäse San Carlo ist fruchtig und harmonisch im Geschmack. Seine Konsistenz ist cremig und er bröckelt nur wennig. Er ist ein idealer Dessertkäse zu Birne und Trauben und verträgt sich gut mit einem fruchtigen Weißwein aus Südtirol.                                </p>

                                    <p class="info-title">Lagertemperatur <span class="text">4 - 6 °C</span></p><p class="info-title">Aufbewahrung <span class="text">Im Kühlschrank aufbewahren</span></p><p class="info-title">Sonstiges<span class="text">Glutenfrei<br>Fett i. Tr.: 45%</span></p>
                                    <p class="info-title">Region</p>
                                    <img alt="" src="assets/img/region-karte.jpg">

                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-3 col-md-push-4">
                                                            <span class="product-property">
                                <a href="/de/datasheet/330129" target="_blank" title=" Datenblatt herunterladen">
                                <i class="icon-download"></i>
                                    Datenblatt herunterladen                                    </a><br>
                            </span>
                                    <span class="product-property">
                                <i class="icon-face-happy"></i>
                                Frischegarantie                            </span>
                                    <span class="product-property">
                                <i class="icon-face-happy"></i>
                                    Ohne Gentechnik                            </span>
                                    <span class="product-property">
                                <i class="icon-truck-right"></i>
                                    Versandkostenfrei ab 50 €                            </span>
                                    <span class="product-property">
                                <i class="icon-bill"></i>
                                    Kauf auf Rechnung, mit PayPal oder VISA / MasterCard                            </span>


                                    <div class="manufacturer">
                                        <p class="title">Hersteller</p>
                                        <p class="name" itemprop="offeredBy">Guffanti</p>
                                        <a itemprop="isRelatedTo" class="inverted" href="/de/produkte-nach-hersteller?manufacturer[]=Guffanti">Weitere Produkte von Guffanti</a>                                    </div>


                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-4 col-md-pull-8 newborder newline-right-dotted">

                                    <p class="info-title">Zutaten</p>
                                    <p class="text">

                                        <span class="highlight"><strong>pasteurisierte Kuhmilch</strong></span>, Lab,
                                        Schimmelpilz (Penicillum), Salz</p>
                                    <div data-id="description-table">
                                        <p class="info-title">Durchschnittliche Nährwerte pro 100 g/ml</p>

                                        <div class="description">
                                            <div class="descrRow">
                                                <p class="cat">Energie</p>
                                                <p class="cont">1293 kJ<br>309 kcal
                                                </p>
                                            </div>
                                            <div class="descrRow">
                                                <p class="cat">Fett</p>
                                                <p class="cont">25 g</p>
                                            </div>
                                            <div class="descrRow">
                                                <p class="cat">davon gesättigte Fettsäuren</p>
                                                <p class="cont">0 g</p>
                                            </div>
                                            <div class="descrRow">
                                                <p class="cat">Kohlenhydrate</p>
                                                <p class="cont">0 g</p>
                                            </div>
                                            <div class="descrRow">
                                                <p class="cat">davon Zucker</p>
                                                <p class="cont">0 g</p>
                                            </div>
                                            <div class="descrRow">
                                                <p class="cat">Ballaststoffe</p>
                                                <p class="cont">0 g</p>
                                            </div>
                                            <div class="descrRow">
                                                <p class="cat">Eiweiß</p>
                                                <p class="cont">21 g</p>
                                            </div>
                                            <div class="descrRow">
                                                <p class="cat">Salz</p>
                                                <p class="cont">0 g</p>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

            </div>

        </div>



    </div>
</div>
    </div>
</div>

{{> "page-end"}}