<!doctype html>
<html>
<head>

    <title>Der blaue Klaus</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="initial-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link type="text/css" rel="stylesheet" href="styles/style.css">

</head>
<body>

<header class="sticky-navbar"
        style="position: relative; margin: auto; top: 0px; left: 0px; bottom: auto; right: auto; box-sizing: border-box; width: 100%;">
    <nav class="navbar navbar-default" role="navigation">
        <div class="service hidden-xs">
            <div class="gradient"></div>
            <div class="container">
                <div class="service-nav pull-right">
                    <ul class="list-inline menuitems">
                        <li class=" main">
                            <a id="menu-service nav-4661" href="/de/service/ueber-uns">Über Uns</a>
                        </li>
                        <li class=" main">
                            <a id="menu-service nav-4641" href="/de/service/unsere-haendler">Merkzettel</a>
                        </li>
                        <li class="service-m-top main">
                            <a id="menu-service nav-4697" href="/de/service/kontakt">Kontakt</a>
                        </li>
                        <li class="fa fa-user-circle service-login service-m-bottom main" style="display: inline-block;">
                            <a id="menu-service nav-4642" href="/de/service/login">Anmelden</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 menu-bar">

                    <div class="menu-background"></div>
                    <div class="menuwrapper row">
                        <div>

                            <div class="logo-wrapper">
                                <a class="navbar-brand" href="/">
                                    <img src="assets/img/logo-der-blaue-klaus.png">
                                </a>
                            </div>

                            <div class="slide-menu" style="width: 925px;">
                                <div class="overflow-wrapper" style="width: 925px;">
                                    <div>
                                        <ul class="nav navbar-nav full-length" style="width: 901px; margin-left: 0px;">

                                            <li class="dropdown menu-large" data-megamenu-target="30802">
                                                <a href="product.html" data-id="megamenu-toggle" title="Antipasti">
                                                    Käsesorten
                                                </a>
                                            </li>
                                            <li class="dropdown menu-large" data-megamenu-target="30803">
                                                <a href="/de/pasta-sughi" data-id="megamenu-toggle"
                                                   title="Pasta &amp; Sughi">
                                                    Käseplatten
                                                </a>
                                            </li>
                                            <li class="dropdown menu-large" data-megamenu-target="30804">
                                                <a href="/de/salumi-formaggi" data-id="megamenu-toggle"
                                                   title="Salumi &amp; Formaggi">
                                                    Käse-Abo
                                                </a>
                                            </li>
                                            <li class="dropdown menu-large" data-megamenu-target="30805">
                                                <a href="/de/ingredienti" data-id="megamenu-toggle" title="Ingredienti">
                                                    Rohmilchbutter
                                                </a>
                                            </li>
                                            <li class="dropdown menu-large" data-megamenu-target="30807">
                                                <a href="/de/getraenke-snacks" data-id="megamenu-toggle"
                                                   title="Getränke &amp; Snacks">
                                                    Snacks & Extras
                                                </a>
                                            </li>
                                            <li class="dropdown menu-large" data-megamenu-target="30808">
                                                <a href="/de/saison" data-id="megamenu-toggle" title="Saison">
                                                    Saison
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="prev-btn hidden-button" style="left: 170px;"><i
                                            class="icon-caret-left"></i></div>
                                    <div class="next-btn hidden-button" style="right: 170px;"><i
                                            class="icon-caret-right"></i></div>
                                </div>


                            </div>

                            <div class="navbar-tools pull-right">

                                <div class="bb-basket" data-id="navigation-basket">
                                    <span class="bb-qty">
                                        <span class="icon fa fa-shopping-basket"></span>
                                        <span class="label"></span>
                                    </span>
                                    <span class="bb-amount">0,00&nbsp;€</span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="header-search" class="skip-content">

        <form id="search_mini_form" action="detail.html" method="get" class="navbar-form topbar-search">
            <div class="input-box">
                <label for="search">Suche:</label>
                <input id="search" type="search" name="q" value="" class="input-text required-entry" maxlength="128" placeholder="Shop durchsuchen…" autocomplete="off">
                <button type="submit" title="Suche" class="button search-button"><span><span>Suche</span></span></button>
            </div>

            <div id="search_autocomplete" class="search-autocomplete" style="display: none;"></div>

        </form>
    </div>

</header>

