<footer id="footer" class="footer-wrap" data-id="footer">


    <div class="container-fluid" data-id="footer-service">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 first" data-id="contact-phone">
                        <h3 class="headline  ">
                            <span>Service</span>
                        </h3>
                        <div class="content  ">
                            <p>
                                Wir sind für Sie erreichbar, Mo. bis Fr.,
                                von 9 bis 16 Uhr per Telefon 01234-567890
                                Natürlich auch jederzeit auf elektronischem
                                Wege per E-Mail: info@blauer-klaus.de
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3" data-id="shipping">
                        <h3 class="headline  ">
                            <i class="icon-truck-right"></i>
                            <span>Versand</span>
                        </h3>
                        <div class="content  ">
                            ab 4,95 €
                        </div>
                        <div class="description">
                            Kostenloser Versand ab 50€
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3" data-id="payments">
                        <h3 class="headline  ">
                            <i class="icon-creditcard"></i>
                            <span>Zahlungsmittel</span>
                        </h3>
                        <div class="content  ">


                            <div class="cc-logos">
                                <img src="assets/img/zahlung.jpg" style="width: 100%">
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="description">
                            Kauf auf Rechnung möglich
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3" data-id="security">
                        <h3 class="headline">
                            <i class="icon-lock"></i>
                            <span>Sicherheit</span>
                        </h3>
                        <div class="content">
                            Verschlüsselung
                        </div>
                        <div class="description">
                            Deine Daten werden verschlüsselt übertragen.
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="container ftr-wrap">
        <div class="row footer-cols">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="ftr-col-1">

                    <div class="block block-subscribe" style="margin-top: 30px">
                        <div class=".ftr-heding">
                            <h3><span>Newsletter</span></h3>
                        </div>
                        <form action="https://www.feiner-kaese.de/newsletter/subscriber/new/" method="post"
                              id="newsletter-validate-detail">
                            <div class="block-content">
                                <div class="form-subscribe-header">
                                    <p>Anmeldung für unseren Newsletter:</p>
                                </div>
                                <div class="input-box">
                                    <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false"
                                           name="email" id="newsletter" title="Anmeldung für unseren Newsletter"
                                           class="input-text required-entry validate-email">
                                </div>
                                <div class="actions">
                                    <button type="submit" title="Abonnieren" class="button">
                                        <span><span>Abonnieren</span></span></button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- / footer-cols -->
        <address class="copyright">© 2017 Der blaue Klaus</address>
    </div>
</footer>


</body>
</html>